* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/static/images.jpeg') no-repeat center center/cover;
}

.converter-container {
    background-color: rgba(156, 246, 153, 0.797);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 30px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #212f298b;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

.form-group {
    margin: 15px 0;
    text-align: left;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-style: italic;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4cafaf;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    color: #212f298b;
}

#result-display {
    font-size: 1.5em;
    color: black;
}